*{
  padding: 0;
  margin: 0;
}

input{
  margin: 0px;  
  font-size: inherit;
}

body{
  background-color: rgb(14, 20, 27);
  color: aliceblue;
  font-family: Impact,  'Arial Narrow Bold', sans-serif;
  font-weight: lighter;
}
#row{
  justify-content: space-between;
  display: flex;
  flex-direction:row;  
  width: 70%;
  padding: 5px;
  font-size: inherit;
}
#container {
  display: flex;
  flex-direction: column;  
  font-size: 22px;
}

#grid-container, header{ 
  background-color: rgb(46, 49, 55);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; 
  align-items: center;
  padding-bottom: 10px;
}

#check-form{
  width: 70%;  
  font-size: inherit;
}

.check{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(95, 91, 74);
  margin: 0px;
  font-size: inherit;
  }
.input{
  background-color: rgb(177, 171, 171);
  display: flex;
  flex-direction:row;
  justify-content: space-between;  
  margin-bottom: 0px;
  padding: 0px 5px;
  font-size: inherit;
}
input:disabled{
  background-color: rgba(217, 240, 188, 0.8) !important;
  color: black;
  font-size: inherit;
}
#solve-msg{ 
  border-radius: 5px;
  font-size: inherit;
}
.checker{
  width:30%;
  align-content: flex-end;
  justify-content: space-between;  
}
textarea {
  display: flex;
  align-items: center;
  justify-content: center;
  width:80%;
  font-size: 18px;
}


.cell{
  text-align: center;
  align-content: center;
  padding: 0px;
}

#error-msg {
  border-radius: 5px;
  border: 1px;
  border-color: brown;
  border-style: solid;
  color: red;
  margin-bottom: 10px ;
}

#grid {
  text-align: center;
  display: inline;
}

.grid {
  border: 3px solid;
  border-spacing: 0;
}

td {  
  padding: 0px 1px;
}


.tableLayout {
  text-align: left;
  font-weight:lighter;
  margin: 0 auto;
}
#solve{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: darkgrey;
 margin-bottom: 10px;
 border-radius: 5px;
 color:rgb(78, 37, 37);
}

input[type="button"]{
  width: 40%;
  padding: 3px;
  border-radius: 5px;
  background-color: bisque;
  border-color: rgb(206, 196, 196);
  font-size: inherit;
}
button{
  width: 25%;
  padding: 3px;
  border-radius: 5px;
  background-color: bisque;
  border-color: rgb(206, 196, 196);
  font-size: inherit;
}
#check{
  display: flex;
  flex-direction: column;
  background-color: dimgray;
  border-radius: 5px;
  border-style: solid;
  border-color: rgb(110, 106, 106);
  text-align: center;
}
.grid_input {
  border: 1px solid rgb(151, 98, 98);
  width: 2em;
  height: 2em;
  text-align: center;
}

.C1, .C2, .C3, .C4, .C5, .C6, .C7, .C8, .C9, .F1, .F2, .F3, .F4, .F5, .F6, .F7, .F8, .F9 {
  border-bottom: 5px solid;
  border-color: rgb(210, 57, 57);
}

.A3, .B3, .C3, .D3, .E3, .F3, .G3, .H3, .I3, .A6, .B6, .C6, .D6, .E6, .F6, .G6, .H6, .I6 {
  border-right: 5px solid;
  border-color: rgb(210, 57, 57);
}
#check-form, #text-form{
  width: 70%;
  margin:0 15%;
}

.row{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
}
/*----------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 550px) and (min-width:300px) {
  #root, body, header{
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
  }
  #container {
    width:100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;    
    font-size: 16px;
  }
  #row, .row{
    justify-content: center;
    display: flex;
    flex-direction: column;  
    width: 100%;
  }
.check{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: rgb(73, 71, 62);
  margin: 0px;
  padding:  3px;
  }
  .form-container {
    align-self: center;
  }
  #solve{
    display: flex;
    flex-wrap: wrap;
   margin-bottom: 10px;
   border-radius: 5px;
   color:rgb(78, 37, 37);
  }
  
  td {  
    padding: 0px 1px;
  }
  tbody{
    width:100vw;
    padding: 0;
  }
  .grid_input {
    border: 1px solid rgb(151, 98, 98);
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    margin: 0px;
    padding:0px;
  }  
  .tableLayout{
    margin: 0px;
    padding:0px;
  }
  #grid-container{ 
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding:0px;
  }
  #text-input, #check-form{
    width: 100%;
    margin: 0;
  }
  .checker{
    width:40%;
    align-content: flex-end;
    justify-content: space-between;  
  }

  .C1, .C2, .C3, .C4, .C5, .C6, .C7, .C8, .C9, .F1, .F2, .F3, .F4, .F5, .F6, .F7, .F8, .F9 {
    border-bottom: 5px solid;
    border-color: rgb(210, 57, 57);
  }
  
  .A3, .B3, .C3, .D3, .E3, .F3, .G3, .H3, .I3, .A6, .B6, .C6, .D6, .E6, .F6, .G6, .H6, .I6 {
    border-right: 5px solid;
    border-color: rgb(210, 57, 57);
  }
  textarea {
    width:100%;
    font-size: 15px;
  }
  button, #text-form{
    margin: 0;
    width: 100%;
    font-size: inherit;
  }
}
/* -----------------------------------------------------------------
----------------------------------------------------------------------------------------
---------------------------------------------------------------------------------- */
@media only screen and (max-width: 300px) {
  #root, body, header{    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;    
  }
  #container {
    width:100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
  }
  
.check{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: rgb(73, 71, 62);
  margin: 0px;
  padding: 3px;
  }
  .form-container {
    align-self: center;
  }
  #solve{
    display: flex;
    flex-wrap: wrap;
   margin-bottom: 10px;
   border-radius: 5px;
   color:rgb(78, 37, 37);
  }
  #row, .row{
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    flex-direction: column;  
    width: 100%;
  }
 
  td {  
    padding: 0px 1px;
  }
  .tableLayout{
    margin: 0px;
    padding:0px;
  }
  #grid-container{ 
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding:0px;
  }
  #text-input, #check-form{
    width: 100%;
    margin: 0;
  }
  .checker{
    width:60px;
    align-content: flex-end;
    justify-content: space-between;  
  }
  /* .input{
    width:100%;
  } */
  tbody{
    width:100vw;
  }
  .grid_input {
    border: 1px solid rgb(151, 98, 98);
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    margin: 0px;
    padding:0px;
  }  
  table{
    border-collapse: collapse; 
    border-spacing:0;
  }
  .C1, .C2, .C3, .C4, .C5, .C6, .C7, .C8, .C9, .F1, .F2, .F3, .F4, .F5, .F6, .F7, .F8, .F9 {
    border-bottom: 5px solid;
    border-color: rgb(210, 57, 57);
  }
  
  .A3, .B3, .C3, .D3, .E3, .F3, .G3, .H3, .I3, .A6, .B6, .C6, .D6, .E6, .F6, .G6, .H6, .I6 {
    border-right: 5px solid;
    border-color: rgb(210, 57, 57);
  }
  textarea {
    width:100%;
    font-size: 10px;
  }
  button, #text-form{
    margin: 0;
    width: 100%;
    font-size: inherit;
  }
}